<form name="computerForm" novalidate ng-controller="FormController" ng-submit="submitComp()">
    <div class="modal-body">
        <div class="form-group">
            <label for="comp-name">Name:</label>
            <input type="text" id="comp-name" name="name" class="form-control" ng-model="computerFormData.name" required >
            <div class="error-container" ng-show="computerForm.name.$dirty && computerForm.name.$invalid">
                <small class="error" ng-show="computerForm.name.$error.required">Computer name is required</small>
            </div>
        </div>
        <div class="form-group">
            <label for="comp-mother">Motherboard:</label>
            <div class="input-group">
                <select class="form-control" id="comp-mother" name="mother" ng-model="computerFormData.motherID" ng-options="type.id as type.name for type in MEMORY_TYPES" required>
                    <option value="">Select motherboard</option>
                </select>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="openMotherModal()">Add</button>
                </span>
            </div>
            <div class="error-container" ng-show="computerForm.proc.$dirty && computerForm.proc.$invalid">
                <small class="error" ng-show="computerForm.proc.$error.required">Please select computer processor</small>
            </div>
        </div>
        <div class="form-group">
            <label for="comp-proc">Processor:</label>
            <div class="input-group">
                <select class="form-control" id="comp-proc" name="proc" ng-model="computerFormData.procID" ng-options="type.id as type.name for type in MEMORY_TYPES" required>
                    <option value="">Select processor</option>
                </select>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="openProcModal()">Add</button>
                </span>
            </div>
            <div class="error-container" ng-show="computerForm.proc.$dirty && computerForm.proc.$invalid">
                <small class="error" ng-show="computerForm.proc.$error.required">Please select computer processor</small>
            </div>
        </div>
        <div class="form-group">
            <label for="comp-memory">Memory:</label>
            <div class="input-group">
                <select class="form-control" id="comp-memory" name="memory" ng-model="computerFormData.memoryID" ng-options="type.id as type.name for type in MEMORY_TYPES" required>
                    <option value="">Select memory</option>
                </select>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="openMemoryModal()">Add</button>
                </span>
            </div>
            <div class="error-container" ng-show="computerForm.memory.$dirty && computerForm.memory.$invalid">
                <small class="error" ng-show="computerForm.memory.$error.required">Please select computer memory</small>
            </div>
        </div>
        <div class="form-group">
            <label for="comp-storage">Storage:</label>
            <div class="input-group">
                <select class="form-control" id="comp-storage" name="storage" ng-model="computerFormData.storageID" ng-options="type.id as type.name for type in MEMORY_TYPES" required>
                    <option value="">Select storage</option>
                </select>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="openStorageModal()">Add</button>
                </span>
            </div>
            <div class="error-container" ng-show="computerForm.storage.$dirty && computerForm.storage.$invalid">
                <small class="error" ng-show="computerForm.storage.$error.required">Please select computer storage</small>
            </div>
        </div>
    </div>
    <div class="modal-action clearfix">
        <div class="pull-right">
            <input type="submit" class="btn btn-success" value="Add" ng-disabled="computerForm.$invalid">
            <button type="button" class="btn btn-default" ng-click="closeThisDialog()">Cancel</button>
        </div>
    </div>
</form>