<form name="computerForm" novalidate ng-controller="FormController" ng-submit="submitComp()">
    <div class="modal-body">
        <div class="form-group">
            <label for="comp-name">Name:</label>
            <input type="text" id="comp-name" name="name" class="form-control validate" ng-model="computerFormData.name" required>
            <div class="error-container" ng-show="computerForm.name.$dirty && computerForm.name.$invalid">
                <small class="error" ng-show="computerForm.name.$error.required">Computer name is required</small>
            </div>
        </div>
        <div class="form-group">
            <label for="comp-mother">Motherboard:</label>
            <div class="input-group">
                <select class="form-control validate" id="comp-mother" name="mother" ng-model="computerFormData.motherID" ng-options="type.id as type.name for type in MEMORY_TYPES" ng-disabled="computerFormData.memoriesID.length > 0" required>
                    <option value="">Select motherboard</option>
                </select>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="openMotherModal()"><span class="glyphicon glyphicon-plus"></span></button>
                </span>
            </div>
            <div class="error-container" ng-show="computerForm.mother.$dirty && computerForm.mother.$invalid">
                <small class="error" ng-show="computerForm.mother.$error.required">Please select motherboard</small>
            </div>
        </div>
        <div class="animate-memory" ng-controller="MemorySelectController" ng-show="computerForm.mother.$valid">
            <label>Memory: {{ motherboard.slots }} slots</label>
            <div class="form-group animate-memory-form-group" ng-repeat="memory in computerFormData.memories track by memory.slotID">
                <div class="input-group" >
                    <select class="form-control" name="memory" ng-disabled="computerForm.mother.$invalid"  ng-model="computerFormData.memories[$index].memoryID">
                        <option value="{{ type.id }}" ng-selected="{{ type.id == memory.memoryID }}" ng-repeat="type in MEMORY_TYPES track by type.id">{{ type.name }}</option>
                    </select>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="removeMemory(computerFormData.memories, $index)"><span class="glyphicon glyphicon-minus"></span></button>
                    </span>
                </div>
            </div>
            <div class="form-group" memory-input ng-class="{ hidden: computerFormData.memories.length == motherboard.slots }" >
                <div class="input-group">
                    <select id="memory-select" class="form-control" name="memory" ng-options="type.id as type.name for type in MEMORY_TYPES" ng-disabled="computerForm.mother.$invalid" ng-model="memory">
                        <option value="">Select memory</option>
                    </select>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="openMemoryModal()"><span class="glyphicon glyphicon-plus"></span></button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="comp-proc">Processor:</label>
            <div class="input-group">
                <select class="form-control validate" id="comp-proc" name="proc" ng-model="computerFormData.procID" ng-options="type.id as type.name for type in MEMORY_TYPES" required>
                    <option value="">Select processor</option>
                </select>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="openProcModal()"><span class="glyphicon glyphicon-plus"></span></button>
                </span>
            </div>
            <div class="error-container" ng-show="computerForm.proc.$dirty && computerForm.proc.$invalid">
                <small class="error" ng-show="computerForm.proc.$error.required">Please select computer processor</small>
            </div>
        </div>
        <div class="form-group">
            <label for="comp-storage">Storage:</label>
            <div class="input-group">
                <select class="form-control validate" id="comp-storage" name="storage" ng-model="computerFormData.storageID" ng-options="type.id as type.name for type in MEMORY_TYPES" required>
                    <option value="">Select storage</option>
                </select>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="openStorageModal()"><span class="glyphicon glyphicon-plus"></span></button>
                </span>
            </div>
            <div class="error-container" ng-show="computerForm.storage.$dirty && computerForm.storage.$invalid">
                <small class="error" ng-show="computerForm.storage.$error.required">Please select computer storage</small>
            </div>
        </div>
    </div>
    <div class="modal-action clearfix">
        <div class="pull-right">
            <input type="submit" class="btn btn-success" value="Add" ng-disabled="computerForm.$invalid">
            <button type="button" class="btn btn-default" ng-click="closeThisDialog()">Cancel</button>
        </div>
    </div>
</form>