<div class="form-group">
    <label for="memory-type">Type:</label>
    <select class="form-control" id="memory-type">
        <option ng-repeat="type in MEMORY_TYPES">{{ type }}</option>
    </select>
</div>
<div class="form-group">
    <label for="memory-size">Size:</label>
    <div class="input-group">
        <input type="number" id="memory-size" class="form-control" min="0" aria-describedby="memory-size-addon">
        <span class="input-group-addon" id="memory-size-addon">GB</span>
    </div>
</div>
<div class="form-group">
    <label for="memory-rate">Rates:</label>
    <div class="input-group">
        <input type="number" id="memory-rate" class="form-control" min="0" aria-describedby="memry-rate-addon">
        <span class="input-group-addon" id="memry-rate-addon">MHz</span>
    </div>
</div>