<div class="card-body">
    <div class="form-group">
        <label for="proc-manufacturer">Manufacturer:</label>
        <input type="text" id="proc-manufacturer" class="form-control">
    </div>
    <div class="form-group">
        <label for="proc-name">Name:</label>
        <input type="text" id="proc-name" class="form-control">
    </div>
    <div class="form-group">
        <label for="proc-freq">Frequency:</label>
        <div class="input-group">
            <input type="text" id="proc-freq" class="form-control"  aria-describedby="proc-addon">
            <span class="input-group-addon" id="proc-addon">GHz</span>
        </div>
    </div>
    <div class="form-group">
        <label for="mother-cores">Cores:</label>
        <input type="number" id="mother-cores" class="form-control" min="0">
    </div>
</div>
<div class="card-action-bar clearfix">
    <div class="pull-right">
        <button type="button" class="btn btn-success" ng-click="confirm()">Add</button>
        <button type="button" class="btn btn-default" ng-click="closeThisDialog()">Cancel</button>
    </div>
</div>