<div class="well well-lg" ng-controller="ModalController">
    <div class="pull-right">
        <button type="button" class="btn btn-success" ng-click="openComputerModal()">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
        </button>
    </div>
    <h4>Total: {{ computers.length }}</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Processor</th>
                <th>Memory</th>
                <th>Graphics</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="computer in computers">
                <td>{{ computer.name }}</td>
                <td>{{ computer.processor }}</td>
                <td>{{ computer.memory }}</td>
                <td>{{ computer.graphics }}</td>
            </tr>
        </tbody>
    </table>
</div>
