<ul class="nav nav-tabs nav-justified">
    <li ng-class="{'active': isActiveTab(0)}" ng-click="changeTab(0)" ng-keypress="($event.which === 13)?changeTab(0):false" tabindex="4" role="presentation">
        <a>Motherboards</a>
    </li>
    <li ng-class="{'active': isActiveTab(1)}" ng-click="changeTab(1)" ng-keypress="($event.which === 13)?changeTab(1):false" tabindex="5" role="presentation">
        <a>Processors</a>
    </li>
    <li ng-class="{'active': isActiveTab(2)}" ng-click="changeTab(2)" ng-keypress="($event.which === 13)?changeTab(2):false" tabindex="6" role="presentation">
        <a>Memory</a>
    </li>
    <li ng-class="{'active': isActiveTab(3)}" ng-click="changeTab(3)" ng-keypress="($event.which === 13)?changeTab(3):false" tabindex="7" role="presentation">
        <a>Storage</a>
    </li>
</ul>
<div class="tabs-container" ng-controller="ModalController">
    <div class="tab" ng-show="isActiveTab(0)">
        <div class="pull-right">
            <button type="button" class="btn btn-success" ng-click="openMotherModal()">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
            </button>
        </div>
        <h4>Total: {{ motherboards.length }}</h4>
        <div class="table-wrap">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="sortable" sortable order="'manufacturer'" by="order" reverse="reverse">Manufacturer</th>
                        <th class="sortable" sortable order="'MEMORY_TYPES[motherboard.memoryType]'" by="order" reverse="reverse">Memory type</th>
                        <th class="sortable" sortable order="'memorySlots'" by="order" reverse="reverse">Memory slots</th>
                        <th class="sortable" sortable order="'used'" by="order" reverse="reverse">Used</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="animate-row" ng-repeat="motherboard in motherboards | filter:query | orderBy:order:reverse">
                        <td>{{ motherboard.manufacturer }}</td>
                        <td>{{ MEMORY_TYPES[motherboard.memoryType] }}</td>
                        <td>{{ motherboard.memorySlots }}</td>
                        <td>{{ motherboard.used }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab" ng-show="isActiveTab(1)">
        <div class="pull-right">
            <button type="button" class="btn btn-success" ng-click="openProcModal()">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
            </button>
        </div>
        <h4>Total: {{ processors.length }}</h4>
        <div class="table-wrap">
            <table class="table table-bordered">
                <thead>
                    <tr>

                        <th class="sortable" sortable order="'manufacturer'" by="order" reverse="reverse">Manufacturer</th>
                        <th class="sortable" sortable order="'frequency'" by="order" reverse="reverse">Frequency</th>
                        <th class="sortable" sortable order="'cores'" by="order" reverse="reverse">Cores</th>
                        <th class="sortable" sortable order="'name'" by="order" reverse="reverse">Name</th>
                        <th class="sortable" sortable order="'used'" by="order" reverse="reverse">Used</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="animate-row" ng-repeat="processor in processors | filter:query | orderBy:order:reverse">
                        <td>{{ processor.manufacturer }}</td>
                        <td>{{ processor.frequency }}</td>
                        <td>{{ processor.cores }}</td>
                        <td>{{ processor.name }}</td>
                        <td>{{ processor.used }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab" ng-show="isActiveTab(2)">
        <div class="pull-right">
            <button type="button" class="btn btn-success" ng-click="openMemoryModal()">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
            </button>
        </div>
        <h4>Total: {{ memory.length }}</h4>
        <div class="table-wrap">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="sortable" sortable order="'MEMORY_TYPES[mem.type]'" by="order" reverse="reverse">Type</th>
                        <th class="sortable" sortable order="'mSize'" by="order" reverse="reverse">mSize</th>
                        <th class="sortable" sortable order="'rate'" by="order" reverse="reverse">Rate</th>
                        <th class="sortable" sortable order="'used'" by="order" reverse="reverse">Used</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="animate-row" ng-repeat="mem in memory | filter:query | orderBy:order:reverse">
                        <td>{{ MEMORY_TYPES[mem.type] }}</td>
                        <td>{{ mem.mSize }}</td>
                        <td>{{ mem.rate }}</td>
                        <td>{{ mem.used }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab" ng-show="isActiveTab(3)">
        <div class="pull-right">
            <button type="button" class="btn btn-success" ng-click="openStorageModal()">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
            </button>
        </div>
        <h4>Total: {{ storage.length }}</h4>
        <div class="table-wrap">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="sortable" sortable order="'STORAGE_TYPES[hardw.type]'" by="order" reverse="reverse">Type</th>
                        <th class="sortable" sortable order="'size'" by="order" reverse="reverse">Size</th>
                        <th class="sortable" sortable order="'used'" by="order" reverse="reverse">Used</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="animate-row" ng-repeat="hardw in storage | filter:query | orderBy:order:reverse">
                        <td>{{ STORAGE_TYPES[hardw.type] }}</td>
                        <td>{{ hardw.size }}</td>
                        <td>{{ hardw.used }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
