<h3>Motherboards</h3>
<div class="form-group">
    <label for="mother-manufacturer">Manufacturer:</label>
    <input type="text" id="mother-manufacturer" class="form-control">
</div>
<div class="form-group">
    <label for="mother-type">Memory type:</label>
    <select class="form-control" id="mother-type">
        <option ng-repeat="type in MEMORY_TYPES">{{ type }}</option>
    </select>
</div>
<div class="form-group">
    <label for="mother-slots">Memory slots:</label>
    <input type="number" id="mother-slots" class="form-control" min="0">
</div>

<h3>Processors</h3>
<div class="form-group">
    <label for="proc-manufacturer">Manufacturer:</label>
    <input type="text" id="proc-manufacturer" class="form-control">
</div>
<div class="form-group">
    <label for="proc-name">Name:</label>
    <input type="text" id="proc-name" class="form-control">
</div>
<div class="form-group">
    <label for="proc-freq">Frequency:</label>
    <div class="input-group">
        <input type="text" id="proc-freq" class="form-control"  aria-describedby="proc-addon">
        <span class="input-group-addon" id="proc-addon">GHz</span>
    </div>
</div>
<div class="form-group">
    <label for="mother-cores">Cores:</label>
    <input type="number" id="mother-cores" class="form-control" min="0">
</div>

<h3>Memory</h3>
<div class="form-group">
    <label for="memory-type">Type:</label>
    <select class="form-control" id="memory-type">
        <option ng-repeat="type in MEMORY_TYPES">{{ type }}</option>
    </select>
</div>
<div class="form-group">
    <label for="memory-size">Size:</label>
    <div class="input-group">
        <input type="number" id="memory-size" class="form-control" min="0" aria-describedby="memory-size-addon">
        <span class="input-group-addon" id="memory-size-addon">GB</span>
    </div>
</div>
<div class="form-group">
    <label for="memory-rate">Rates:</label>
    <div class="input-group">
        <input type="number" id="memory-rate" class="form-control" min="0" aria-describedby="memry-rate-addon">
        <span class="input-group-addon" id="memry-rate-addon">MHz</span>
    </div>
</div>
<h3>Storage</h3>
<div class="form-group">
    <label for="storage-type">Type:</label>
    <select class="form-control" id="storage-type">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
    </select>
</div>
<div class="form-group">
    <label for="storage-size">Size:</label>
    <div class="input-group">
        <input type="number" id="storage-size" class="form-control" min="0" aria-describedby="storage-size-addon">
        <span class="input-group-addon" id="storage-size-addon">GB</span>
    </div>
</div>